<div id="company-creation">
  <h1>Новая компания</h1>
  <div class="form-item">
    <label for="company_name" name="company_name_label">Название компании</label>
    <input type="text" name="company_name">
  </div>
  <div class="form-item">
    <label for="inn">ИНН</label>
    <input type="text" name="inn">
  </div>
  <div class="form-item">
    <label for="site">Сайт</label>
    <input type="text" name="site" placeholder="capitalgroup.ru">
  </div>
  <div class="form-item">
    <label for="rating">Рейтинг</label>
    <input type="text" name="rating" placeholder="0-5">
  </div>
  <div class="form-item">
    <label for="mail">Основная почта</label>
    <input type="email" name="mail" placeholder="info@mail.ru">
  </div>
  <div class="form-item">
    <label for="phone">Основной номер</label>
    <input type="text" name="phone" placeholder="81234567890">
  </div>
  <div class="form-item">
    <label for="comment">Примечание</label>
    <textarea type="text" name="comment"></textarea>
  </div>

  <div class="open-modal-buttons">
    <button onclick="openModal('choose_contact_modal_frame', 'chooseContact')">Добавить контакты</button>
    <button onclick="openModal('choose_material_modal_frame', 'chooseMaterial')">Добавить материалы</button>
  </div>

  <button onclick="post_company_create()">Сохранить</button>
</div>
