{% extends 'base.html' %} {% block content %}


<div id="company-parsing" class="outer">
  <h1>Парсер - Найти Компании</h1>
  
  {% csrf_token %}
  <div class="form-item">
    <label for="request_txt">Что искать?</label>
    <input type="text" name="request_txt">
  </div>
  {% comment %} <select name="search-eng" id="search-eng">
    <option value="DDGS">DDGS</option>
    <option value="Yandex">YaSearch</option>
  </select> {% endcomment %}
  <button name="start-parsing-btn" onclick="start_parsing()">Поиск</button>
  <button onclick="post_create_parse_company()">Сохранить</button>
  
  <div name="companies" class="new-companies-list">

  </div>


  
</div>

{% endblock %}
