<div id="materials-details-modal-frame" class="modal">
  <div class="modal-content details">
    <div class="modal-head">
      <div class="menu-btns">
        <button onclick="removeModal('edit_material_modal_frame'); openModal('edit_material_modal_frame', 'editMaterial', {{this_material.id}})" class="spec-btn">edit</button>
        <button onclick="post_delItem('materials', {{material.material_id}})" class="spec-btn">del</button>
        {% include 'components/modal_remove_btn.html' with frame_id='materials-details-modal-frame' %}
      </div>
      <div class="modal-header">
        {% if parent %}<a onclick="removeModal('materials-details-modal-frame'); openModal('materials-details-modal-frame', 'detailsMaterial', {{parent.id}})">{{parent.name}}</a>{% else %}—{% endif %}
        <h1>{{this_material.name}}</h1>
      </div>
    </div>
    <div class="modal-main">
      <div class="details-info">
        <span>Ключевые слова:</span><span>{{this_material.keywords | default:"—"}}</span>
      </div>

      <div class="addition-info">
        {% if children %}
          <div class="material-children">
            {% for child in children %}
              <a onclick="removeModal('materials-details-modal-frame'); openModal('materials-details-modal-frame', 'detailsMaterial', {{child.id}})">{{child.name}}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="addition-info">
        <div class="modal-header">
          <h3>Компании</h3>
        </div>
        <div class="cards-list">
          {% for company in companies %}
            <div class="card">
              <div class="card-header">
                <span class="title" title="{{company.name}}">
                  <a onclick="removeModal('companies-details-modal-frame'); openModal('companies-details-modal-frame', 'detailsCompany', {{company.id}})">{{company.name}}</a>
                </span>
              </div>
              <span>ИНН: {{company.inn | default:'—'}}</span>
              <span>раб.тел.: {{company.phone | default:'—'}}</span>
              <span>Почта: {{company.mail | default:'—'}}</span>
              <span class="comment" title="{{company.comment}}">{{company.comment | default:'—'}}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>