{% comment %} {% extends 'base.html' %} {% block content %} {% endcomment %}
{% include 'components/modal_edit_material.html'%}

<div class="main-details">
  <div class="menu-btns">
    <button onclick="openModal('edit_material_modal_frame')" class="spec-btn">edit</button>
    <button onclick="post_delItem('materials', {{this_material.id}})" class="spec-btn">del</button>
  </div>
  <div class="group-header">
    {% if parent %}<a href="/materials/{{parent.id}}/">{{parent.name}}</a>{% else %}—{% endif %}
    <h1>{{this_material.name}}</h1>
  </div>
  <hr>
  <div class="info">
    <span>Ключевые слова: {% if this_material.keywords %}{{this_material.keywords}}{% else %}—{% endif %}</span>
    {% if children %}
      <div class="material-children">
        {% for child in children %}
          <a href="/materials/{{child.id}}/">{{child.name}}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <hr>
  <div class="group-header">
    <h2>Компании</h2>
  </div>
  <hr>
  <div class="cards-list">
    {% for company in companies %}
      <div class="card">
      <span class="title" title="{{company.name}}">
        <a href="/companies/{{company.id}}/">{{company.name}}</a>
      </span>
      <hr>
      <span>ИНН: {% if company.inn %}{{company.inn}}{% else %}—{% endif %}</span>
      <span>тел.: {% if company.phone %}{{company.phone}}{% else %}—{% endif %}</span>
      <span>почта: {% if company.mail %}{{company.mail}}{% else %}—{% endif %}</span>
      <span class="comment" title="{{company.comment}}">{{company.comment}}</span>
    </div>
    {% endfor %}
  <div>
</div>

{% comment %} {% endblock %} {% endcomment %}