{% comment %} {% include 'companies/modal_frames.html' %} {% endcomment %}
<div id="add-material-modal" class="modal">
  <div class="modal-content">
    <div class="cross">
      <button class="cross" onclick="closeModal('add-material-modal')">✕</button>
    </div>
    <hr />
    <div class="header">
      <h3>Новый материал</h3>
    </div>

    <div class="forms">
      <form method="post">
        {% csrf_token %}
        <p id="mat-name-error">Наименование</p>
          {% if modal_task == "edit_mat" %}
            <input id="material_name" type="text" name="name" placeholder="ГКЛ" value="{{material.name}}"
            >
          {% else %}
            <input id="material_name" type="text" name="name" placeholder="ГКЛ"
            >
          {% endif %}
        <p>Ключевые слова
          <br \>
          {% if modal_task == "edit_mat" %}
            <input id="keywords" type="text" name="keywords" placeholder="ГКЛА,ГВЛ,ГВЛВ" value="{{keywords}}"
            >
          {% else %}
            <input id="keywords" type="text" name="keywords" placeholder="ГКЛА,ГВЛ,ГВЛВ"
            >
          {% endif %}
        </p>
        <p>Категория
          <input type="hidden" name="parent_id" id="parent_id" value="{% if material.parent_id %}{{material.parent_id}}{% else %}{% endif %}">
          <div class="mat-tree">
            <div class="tree-reset">
              {% if modal_task == 'edit_mat' %}
                <div id="root-category" class="{% if not material.parent_id %}selected{% endif %}" onclick="select_parent(event, this, null, {{material.parent_id}})">
                  Без категории
                </div>
              {% else %}
                <div id="root-category" class="selected" onclick="select_parent(event, this)">
                  Без категории
                </div>
              {% endif %}
              </div>
            <br \>
            <div id="materials-tree">
              {% if modal_task == 'edit_mat' %}
                {% include 'components/mat_tree.html' with modal_task='edit_mat' parent_id=material.parent_id %}
              {% else %}
                {% include 'components/mat_tree.html' with modal_task=modal_task %}
              {% endif %}
            </div>
          </div>
        </p>
        <div class="btns">
          {% if modal_task == 'edit_mat' %}
            {% if material.parent_id %}
              {% if children %}
                <button class="save-btn" type="button" onclick="saveMaterial('edit_mat', source='', id={{material.id}}, children={{children}}, prev_id={{material.parent_id}})">Сохранить</button>
              {% else %}
                <button class="save-btn" type="button" onclick="saveMaterial('edit_mat', source='', id={{material.id}}, children='', prev_id={{material.parent_id}})">Сохранить</button>
              {% endif %}
            {% else %}
              <button class="save-btn" type="button" onclick="saveMaterial('edit_mat', source='',id={{material.id}}, children={{children}})">Сохранить</button>
            {% endif%}
          {% else %}
            {% if source == 'from_list' %}
              <button class="save-btn" type="button" onclick="saveMaterial('new_mat', source='from_list')">Сохранить</button>
            {% else %}
              <button class="save-btn" type="button" onclick="saveMaterial('new_mat')">Сохранить</button>
            {% endif %}
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>