html,
body {
  height: 100%;
}

body {
  display: flex;

  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 10px;

  margin: 0;
  overflow: hidden;

  background: var(--background-color);
}

:focus {
  outline: none;
} 

button {
  background: var(--background-color);
  
  min-width: 100px;
  height: 40px;

  text-align: center;

  border: 1px solid var(--thin-border-color);
  border-bottom-width: 2px;
  border-top: none;
  border-radius: 5px;

  transition: 0.3s;
}


a {
  color: var(--a-href-color);
  border-radius: 5px;
  transition:0.3s;
}


button:not(.active):hover:not(:active),
a:not(.btn):hover:not(:active) {
  cursor: pointer;

  background: var(--button-hover-back);
}

button:active,
a:active {
  background: var(--button-active-back);
  cursor: pointer;
}

.spec-btn {
  min-width: 50px;
  height:20px;

  border-radius: 10px;
  border: 1px solid var(--thin-border-color);
}

.selected {
  border-radius: 3px;
  background-color: var(--tree-item-selected);

  transition: 0.2s;
}

/* 
=====================================
MENU
=====================================
*/

.menu {
  display: flex;
  flex-direction: column;
  height: 95%;
  align-items: center;

  padding: 0 5px 0 5px;

  gap: 20px;
  

  border-right: 1px solid var(--thin-border-color);
}

.menu button {
  max-width: 100px;
}

.menu #auth-btns {
  /* margin-top: 10px; */
  flex: 0 0 auto;
}

/* .menu .sub-menu-btns, */
.menu .tabs-btns {

  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;
}

.menu #cmd-btn {
  flex: 0 0 auto;
}

.menu .sub-menu-btns.hidden {
  max-height: 0;
  opacity: 0;
  transition: 1s;

  pointer-events: none;
}

.menu .sub-menu-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu .sub-menu-btns:not(.hidden) {
  max-height: 500px;
  opacity: 1;
  transition: 1s;
}



.menu .sub-menu-btns button {
  background: var(--sub-menu-btn-back-color);
  transition: 1s;
}

.menu .tabs-btns button.active {
  background: var(--active-page-btn-back);
  color: var(--active-page-btn-font-color);

  transition: 1s;
}


/* 
=====================================
CONTENT
=====================================
*/

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  height: 95%;
  overflow: hidden;
  border-radius: 5px;
  background: var(--content-outer-back);

  /* padding-bottom: 50px; */
}

.content .outer {
  
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  
  height: 100%;
  overflow-y: auto;

  opacity: 0;
  
  transition: 0.3s;
}

.content .outer.show {
  opacity: 1;
  transition: 0.3s;
}

.content .page-menu {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  z-index: 1;
  flex: 0 0 auto;
  min-height: 55px;
  width: 100%;
  justify-content: space-evenly;

  background: var(--page-menu-back-color);
  
}

.content .page-menu button, 
.content .page-menu a, 
.content .page-menu select {
  height: 30px;
}

.content .page-menu input {
  height: 20px;
}

/* 
=====================================
CARDS
=====================================
*/

.cards-list {
  padding: 10px;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;

  width: 200px;
  aspect-ratio: 16 / 9;

  flex: 0 0 auto;

  font-size: 12px;

  padding: 5px;  

  z-index: 0;

  max-height: 120px;

  border: 1px solid;
  background-color: var(--card-background);

  transition: 0.5s;
}

.card .title {
  font-size: 16px;

  text-overflow: auto; 
  text-wrap: auto;
  font-weight: bold;
  margin-bottom: 5px;
}

.card .title.contact {
  text-overflow: auto; 
  text-wrap: auto;
}

.card .comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.card:hover {
  transform: scale(1.1);
  z-index:2;
  overflow: visible;

  backdrop-filter: blur(2px);
  box-shadow: var(--card-hover-blur);

  transition: 0.5s;
}

.card:hover .title {
  overflow: visible;
}

.card.old {
  background-color: var(--card-old-background);
}

.card .card-header {
  display: flex;
  flex-direction: column;
}

.card .card-header .menu-btns {
  align-self: flex-end;
}

.card .card-header button {
  align-self: flex-end;
  max-width: 50px;
  max-height: 20px;
}

/* 
=====================================
HR - segmentation line
=====================================
*/

hr {
  width: 50%;
}

.content hr {
  width: 30%;
}

.content .card hr {
  width: 70%;
}

/* 
=====================================
COMPANY CREATION PAGE
=====================================
*/
#company-creation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#company-creation .open-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#company-creation .open-modal-buttons button {
  flex: 1 1 0px;

  margin: 5px;
}

/* 
=====================================
DETAILS PAGE
=====================================
*/
.group-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main-details {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 1 auto;

  height: 90vh;

  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-details .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-details .info .comment {
  width: 60%;
  text-wrap: wrap;
}

.main-details .group-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.main-details .menu-btns {
  display: flex;
  flex-direction: row;
  width: 50%;

  justify-content: right;
}


.main-details .group-header h1 {
  font-size: 36px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.main-details .group-header h2 {
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.main-details .info {
  gap: 5px;
  justify-content: center;
}

#meeting-participants #contact, 
#meeting-participants #employee,
/* .main-details .card .card-header, */
.contacts-list {
  display: flex;
  flex-direction: column;
}


#meeting-participants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

#meeting-participants .group-header {
  align-self: center;
}

#meeting-participants #contact, 
#meeting-participants #employee {
  gap: 10px;
}

.main-details .del-conn {
  background: none;
  border: none
}



.main-details .card .card-header .del-conn {
  align-self: flex-end;
}

.new-companies-list {
  display: flex;
  flex-direction: column;

  height: 600px;
  overflow: auto;
}

.form_container {
  display: flex;
  flex-direction: row-reverse;
}

/* 
=====================================
COMMANDS PAGE
=====================================
*/
#commands-block {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  gap: 10px;
  height: 90%;
  padding: 5px;
}

#commands-block textarea {
  height: 80%;
  width: 90%;
  resize: none;

}

#commands-block div input {
  width: 90%;
}


/* 
=====================================
MATERIAL TREE
=====================================
*/
.tree {
  border: 1px solid var(--standard-border-color);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

/* .tree-title .material-btn, */
.text-btn {
  height: 22px;
  border-right: none;
  border-color: var(--standard-border-color);
  font-size: 16px;
  color: var(--a-href-color);
}



.tree-node {
  position: relative;
}

.tree-title {
  position: relative;
  padding: 4px 0 4px 28px;
}

.tree-children {
  margin-left: 18px;
}

.tree-title::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  width: 12px;
  border-top: 1px dashed #999;
}

.tree-title::after {
  content: "";

  position: absolute;

  left: 8px;

  top: 0;
  bottom: 0;

  border-left: 1px dashed #999;
}

.tree-node:last-child > .tree-title::after {
  bottom: 50%;
}

.tree.page_style {
  border: none;
}

.tree.page_style span {
  font-size: 16px;

  text-overflow: auto; 
  text-wrap: auto;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5px;
}


.is-hidden {
  display: none;
}