

.modal {
  display: none;
  position: fixed;
  z-index: 1;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;


  top: 0%;
  left: 0%;

  background-color: var(--modal-background-darken);

  flex-direction: column;
  gap: 10px;

  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-style: solid;
  max-width: 50%;
  height: 90%;

  min-width: 50%;
  overflow: hidden;

  background-color: var(--background-color);
  border: 1px solid var(--thin-border-color);
}

.form-item {
  display: flex;
  flex-direction: column;
}

#contact-creation {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.modal-content .header {
  display: flex;
  flex-direction: column;

  flex: 0 0 auto;

  height: 10%;
}

.modal-content .header .close-modal-btn {
  align-self: flex-end;
}

.modal-content .header h3 {
  align-self: center;
}


.modal-content .main-frame {
  display: flex;
  flex-direction: column;
  gap: 5px;

  flex: 1 1 auto;

  min-height: 0;

  overflow: hidden;
}

.modal-content .main-frame hr {
  flex: 0 0 auto;
  margin-bottom: 0;
  margin-top: 0;
}

.modal-content #contacts-list {
  overflow-y: auto;
}

.modal-content #list_material_tree {

  flex: 1 1 auto;
  overflow-y: auto;

  min-height: 1;
}

.modal-content #material-creation {

  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
}

.modal-content #creation_material_tree {

  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;

  margin-bottom: 10px;
}

.modal-content #material-creation .inputs {
    flex: 0 0 auto; /* Не растягиваются */
    margin-top: auto;
    padding: 5px 0;
}



.modal-content .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  flex: 0 0 auto;

  height: 15%;

  padding-top: 10px;
}
.modal-content .footer button {
  margin: 5px;
  flex: 1 1 0px;
}


.modal-content #contacts-list .contact-list-item,
.modal-content #employees-list .employee-list-item {

  display: flex;
  flex-direction: column;

  padding: 5px;
  margin-top: 5px;

  border-bottom-style:solid;
  border-radius: 5px;

  border-width: 1px;

  transition: 0.2s;
}