
.tree {
  border-style: solid;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.tree.page_style {
  border: none;
}

summary {
  margin-top: 5px;
}

.last-child {
  margin-top: 5px;
}


.tree-item {
  margin-left: 10px;
}

.tree-icon {
  font-weight: bold;
}



.selected {
  background-color: rgb(255, 212, 131);

  transition: 0.2s;
}