:root {

  /* BACKS */
  --background-color: white;
  --page-menu-back-color: linear-gradient(to bottom, rgb(255,255,255) 50%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.05) 100%);
  --active-page-btn-back: linear-gradient(to bottom, rgb(255, 255, 255, 0) 0%, rgb(49, 49, 49, 0.2) 70%);
  --content-outer-back: linear-gradient(to bottom, white 15%, rgb(240, 240, 240));
  --tree-item-selected: rgba(255, 212, 131, 0.5);
  --sub-menu-btn-back-color: rgba(185, 218, 255, 0.4);

  /* FONTS */
  --a-href-color: rgb(90,90,90);
  --active-page-btn-font-color: black;

  /* BORDERS */
  --thin-border-color: rgb(50,50,50,0.1);
  --standard-border-color: rgba(50, 50, 50, 0.5);

  /* HOVERS */
  --button-hover-back: rgba(90, 90, 90, 0.2);

  /* ACTIVES */
  --button-active-back: rgba(90, 90, 90, 0.5);

  /* CARDS */
  --card-background: white;
  --card-old-background: rgb(255, 234, 234);
  --card-hover-blur: 3px 3px 5px black, -1px -1px 5px 1px white;

  /* MODALS */
  --modal-background-darken: rgba(100, 100, 100, 0.5);
}


