
<div id="company-creation">
  <h1>Новая встреча</h1>
  <button onclick="openModal('choose_company_modal_frame', 'chooseCompany')">Добавить компанию</button>
  <div class="form-item">
    <label for="subject" name="subject-label">Тема встречи</label>
    <input type="text" name="subject">
  </div>
  <div class="form-item">
    <label for="comment">Примечание</label>
    <textarea type="text" name="comment"></textarea>
  </div>
  <div class="form-item">
    <label for="record-link">Ссылка на запись встречи</label>
    <input type="text" name="record-link" placeholder="...">
  </div>
  <div class="form-item">
    <label for="meeting-date">Дата встречи</label>
    <input type="date" name="meeting-date">
  </div>
  
  <div class="open-modal-buttons">
    <button onclick="openModal('choose_contact_modal_frame', 'chooseContact')">Добавить контакты</button>
    
    <button onclick="openModal('choose_employee_modal_frame', 'chooseEmployee')">Добавить сотрудников</button>
  </div>

  <button onclick="post_meeting_create()">Сохранить</button>
</div>