<div id="meetings-details-modal-frame" class="modal">
  <div class="modal-content details">
    <div class="modal-head">
      <div class="menu-btns">
        {% comment %} <button onclick="removeModal('edit_meeting_modal_frame'); openModal('edit_meeting_modal_frame', 'editMeeting', {{meeting.id}})" class="spec-btn">edit</button> {% endcomment %}
        <button onclick="post_delItem('meetings', {{meeting.id}})" class="spec-btn">del</button>
        {% include 'components/modal_remove_btn.html' with frame_id='meetings-details-modal-frame' %}
      </div>
      <div class="modal-header">
        <h1>{{meeting.subject}}</h1>
        {% for company in companies %}
          <span class="title" title="{{company.name}}">
            <a onclick="openModal('companies-details-modal-frame', 'detailsCompany', {{company.id}})" name="name">{{company.name}}</a>
          </span>
        {% endfor %}
      </div>
    </div>
    <div class="modal-main">
      <div class="details-info">
        <span>Дата:</span><span>{{meeting.meeting_date | date:"d.m.Y"}}</span>
        <span class="comment">Комментарий:</span><span>{{meeting.comment}}</span>
      </div>

      <div class="addition-info">
        <div class="modal-header">
          <h3>Участники встречи</h3>
        </div>
        <div id="meeting-participants">
          {% if contacts %}
            <div id="contact">
              <div class="group-header">
                <h3>Гости</h3>
              </div>
              {% for contact in contacts %}
                <div class="card">
                  <div class="card-header">
                    {% comment %} <button class="del-conn spec-btn" onclick="post_delConnection('meet_emp', {{meeting.id}}, {{employee.id}})">X</button> {% endcomment %}
                    <span class="title">
                      <a onclick="openModal('contacts-details-modal-frame', 'detailsContact', {{contact.id}})">{{contact.last_name}} {{contact.first_name}} {{contact.patronymic}}</a>
                    </span> 
                  </div>
                  <span>тел.: {{contact.phone | default:"—"}}</span>
                  <span>почта: {{contact.mail | default:"—"}}</span>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div id="employee">
            <div class="group-header">
              <h3>Сотрудники</h3>
            </div>
            {% for employee in employees %}
              <div class="card">
                <div class="card-header">
                  {% comment %} <button class="del-conn spec-btn" onclick="post_delConnection('meet_emp', {{meeting.id}}, {{employee.id}})">X</button> {% endcomment %}
                  <span class="title">
                    {{employee.last_name}} {{employee.first_name}} {{employee.patronymic}}
                  </span>
                </div>
                <span>тел.: {{employee.phone | default:"—"}}</span>
                <span>полчта: {{employee.mail | default:"—"}}</span>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>