{% comment %} {% extends 'base.html' %} {% block content %} {% endcomment %}
{% comment %} {% include 'components/modal_create_employee.html' %} {% endcomment %}

  <div id="outer" class="outer">
    <div class="page-menu">
      <input id="employees-list-search" type="text" name="search" value="{{search}}" placeholder="Поиск.." />
      {% comment %} <button  onclick="openModal('create_employee_modal_frame')">Добавить сотрудника</button> {% endcomment %}
    </div>
    <div id="employees-list" class="cards-list cards">
      {% include 'lists/employees_list.html' %}
    </div>
  </div>

{% comment %} {% endblock %} {% endcomment %}