{% load static %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/white_color_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal_frame_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tree_style.css' %}" />


    <script src="{% static 'js/js_help.js' %}"></script>
    <script src="{% static 'js/js_poster.js' %}"></script>
    <script src="{% static 'js/js_cache.js' %}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <div class="menu">
      {% include 'components/menu.html' %}
      <hr>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
