{% load static %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/white_color_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal_frame_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tree_style.css' %}" />


    <script src="{% static 'js/js_help.js' %}"></script>
    <script src="{% static 'js/js_poster.js' %}"></script>
    <script src="{% static 'js/js_cache.js' %}"></script>

    {% comment %} <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% endcomment %}

  </head>
  <body>
    {% csrf_token %}
    <div class="menu">
      {% include 'components/menu.html' %}
    </div>
    <div id="modals-content">
    </div>
    <div id="content" class="content">
      {% comment %} {% include 'companies/companies_page.html' %} {% endcomment %}
       
      {% comment %} {% block content %}{% endblock %} {% endcomment %}
    </div>
  </body>
</html>
