<div id="contact-modal-form" class="modal">
  <div class="modal-content">
    <button class="cross" onclick="closeModal('contact-modal-form')">✕</button>
    {% csrf_token %}
    {% comment %} <input  type="hidden" name="company_id" value="{{company.id}}"> {% endcomment %}
    <p id="name-sign">Имя</p>
    <input id="contact_first_name" type="text" name="contact_first_name">
    <p>Фамилия</p>
    <input id="contact_last_name" type="text" name="contact_last_name">
    <p>Отчество</p>
    <input id="contact_middle_name" type="text" name="contact_middle_name">
    <p>Должность</p>
    <input id="contact_position" type="text" name="contact_position">
    <p>Телефон</p>
    <input id="contact_phone" type="text" name="contact_phone" placeholder="+7(123)456-78-90">
    <p>Почта</p>
    <input id="contact_mail" type="text" name="contact_mail" placeholder="asd@dsa.ru"> <br \>

    <button onclick="saveContact_fromEdit('contact-modal')" >SAVE</button>
  </div>
</div>