
{% include 'materials/modal_frames.html' with modal_task='new_mat' %}


<input id="comp_id" type="hidden" value="{{company_id}}">

<div id="company-info-modal" class="modal">

  <div class="modal-content">
    <div class="cross">
      <button onclick="closeModal('company-info-modal')">✕</button>
    </div>
    <div class="header">
      <h3>Информация</h3>
      <input id="comp_id" type="hidden" value="{{company_id}}">
    </div>

    <div id="company-info-form">
      
      <form method="post">
        {% csrf_token %}

        <p>Название
          {% if error_values.name %}
            <span class="error">
              • {{error_values.name}}
            </span>
          {% endif %}

          <br \>
          <input list="companies" type="text" name="name" placeholder="Компания / Company"
          value="{{company.name}}"
          >
        </p>
      

        <p>ИНН
          {% if error_values.inn %}
            <span class="error">
              • {{error_values.inn}}
            </span> 
          {% endif %}

          <br \>
          <input type="text" name="inn" placeholder="1234567654"
          value="{{company.inn}}"
          >
        </p>

        <p>Телефон
          <br \>
          <input type="text" name="phone" placeholder="+7(123)456-78-90"
          value="{{company.phone}}"
          >
        </p>

        <p>Почта
          <br \>
          <input type="text" name="mail" placeholder="mail.name@mail.ru"
          value="{{company.email}}"
          >
        </p>

        <p>Сайт
          <br \>
          <input type="text" name="website" placeholder="sitename.ru"
          value="{{company.website}}"
          >
        </p>

        <p>Регион
          <br \>
          <input type="text" name="region" placeholder="Москва"
          value="{{company.region}}"
          >
        </p>

        <p>Рейтинг
          <br \>
          <input type="text" name="rating" placeholder="0-5"
          value="{{company.rating}}"
          >
        </p>

        <p>Примечания
          <br \>
          <textarea class="comment_input" type="text" name="comment" 
          value="{{company.comment}}"
          ></textarea>
        </p>
        <br \>
        <div class="btns">

          <button type="submit" onclick="editCompanyInfo()" >Сохранить</button>
        </div>
      </form>
    </div>
  </div>
  
</div>

<div id="material-modal" class="modal">
  <div class="modal-content">
    <div class="cross">
      <button onclick="closeModal('material-modal')">✕</button>
    </div>
    <div class="header">
      <h3>Выбор материалов</h3>
    </div>
    <div id="material-modal-form">
      {% csrf_token %}
      <div id="tree-head" class="tree-head">
        {% include 'components/mat_tree.html' with modal_task='new_comp' %}
      </div>
      <div class="btns">
        <button class="add" type="button" onclick="openModal('add-material-modal')">Добавить материал</button>

        <button onclick="editMaterialList()" >Сохранить</button>
      </div>
    </div>
  </div>
</div>


<div id="contact-modal" class="modal"> 
  <div class="modal-content">
    <div class="cross">
      <button onclick="closeModal('contact-modal')">✕</button>
    </div>
    {% csrf_token %}
    <div class="header">
      <h3>Выбрать контакт</h3>
    </div>
    <div class="old-contacts">
      <input id="contacts-list-on-comp-edit" placeholder="Поиск...">
      <hr />
      <div id="contact-list" class="contact-list">
        {% for contact in all_contacts %}
          <div id="_{{contact.id}}" class="contact-pos{% if contact.id in contacts_ids %} selected{% endif %}
          " onclick="select_contacts(event, this, {{contact.id}})">
            <span>{% if contact.first_name %}{{contact.first_name}}{% else %}no_name{% endif%} {{contact.last_name}}</span>
            <span>{{contact.phone}}</span>
            <span>{{contact.email}}</span>
            <input class="contact-position" placeholder="Должность" value="{{contact.pos}}">
            
          </div>
          <hr />
        {% endfor %}
      </div>
    <hr />
    </div>
    <div class="btns">
      <button class="add" type="button" onclick="openModal('contact-modal-form')">Новый контакт</button>
    
      <button class="add" type="button" onclick="save_selected_contacts({{company.id}})">Сохранить</button>
    </div>
  </div>
</div>

{% include 'components/add_cont_modal.html' %}
