{% if style == 'page_style' %}

  <div class="tree-node">
    <div class="tree-title">
      <span id="{{material.material_id}}">
        <a onclick="setPage('details', 'materials', {{material.material_id}})">
          {{material.material_name}}
        </a>
      </span>
    </div>

    {% if material.children %}
      <div class="tree-children">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% comment %} {% if material.children %}
    <details open>
      <summary>
        <span id="{{material.material_id}}" 
        class="">
        <a href="/materials/{{material.material_id}}/">{{material.material_name}}</a>
        </span>
      </summary>

      <div class="tree-item">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    </details>
  {% else %}
    <div class="last-child">
      <span id="{{material.material_id}}"
      class=""><span class="tree-icon">⇀</span> <a href="/materials/{{material.material_id}}/">{{material.material_name}}</a></span>
    </div>
  {% endif %} {% endcomment %}

{% elif style == 'material_creation' %}

  <div class="tree-node">

    <div class="tree-title">
      <span id="{{material.material_id}}" onclick="selectParent(event, this)">
        {{material.material_name}}
      </span>
    </div>

    {% if material.children %}
      <div class="tree-children">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% comment %} {% if material.children %}
    <details open>
      <summary>
        <span id="{{material.material_id}}" 
          onclick="selectParent(event, this)"
        class="">{{material.material_name}}</span>
      </summary>

      <div class="tree-item">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    </details>
  {% else %}
    <div class="last-child">
      <span id="{{material.material_id}}"
        onclick="selectParent(event, this)"
      class=""><span class="tree-icon">⇀</span> {{material.material_name}}</span>
    </div>
  {% endif %} {% endcomment %}

{% elif style == 'material_editor' %}

  <div class="tree-node">
    <div class="tree-title">
      <span id="{{material.material_id}}" onclick="selectParent(event, this)">
        {{material.material_name}}
      </span>
    </div>
    {% if material.children %}
      <div class="tree-children">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% comment %} {% if material.children %}
    <details open>
      <summary>
        <span id="{{material.material_id}}" 
          onclick="selectParent(event, this, 'edit_material_modal_frame')"
        class="{% if this_material.parent_id == material.material_id%}selected{% endif %}">{{material.material_name}}</span>
      </summary>

      <div class="tree-item">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    </details>
  {% else %}
    <div class="last-child">
      <span id="{{material.material_id}}"
        onclick="selectParent(event, this, 'edit_material_modal_frame')"
      class=""><span class="tree-icon">⇀</span> {{material.material_name}}</span>
    </div>
  {% endif %} {% endcomment %}

{% elif style == 'company_creation' %}

  <div class="tree-node">
    <div class="tree-title">
      <span id="{{material.material_id}}" onclick="selectMaterials(event, this, 'list_material_tree', 'materials-list-input-box')" class="{% if material.selected %}selected{% endif %}">
        {{material.material_name}}
      </span>
    </div>
    {% if material.children %}
      <div class="tree-children">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% comment %} {% if material.children %}
    <details open>
      <summary>
        <span id="{{material.material_id}}" 
          onclick="selectMaterials(event, this, 'list_material_tree', 'materials-list-input-box')"

        class="{% if material.selected %}selected{% endif %}">{{material.material_name}}</span>
      </summary>

      <div class="tree-item">
        {% for child in material.children %}
          {% include 'components/material_tree.html' with material=child %}
        {% endfor %}
      </div>
    </details>
  {% else %}
    <div class="last-child">
      <span id="{{material.material_id}}"
      onclick="selectMaterials(event, this, 'list_material_tree', 'materials-list-input-box')"
      class="{% if material.selected %}selected{% endif %}"><span class="tree-icon">⇀</span> {{material.material_name}}</span>
    </div>
  {% endif %} {% endcomment %}

{% endif %}
