
<div id="auth-btns">
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
  </form>
</div>
<div id="menu-btns" class="tabs-btns">

  <button id="page-companies" name="companies-btn" onclick="setPage('page', 'companies')">Компании</button>
  <div name="companies-menu-btns" class="sub-menu-btns hidden">
      <button id="add-companies" onclick="removeAllModals(); setPage('add', 'companies')">Добавить компанию</button>
      <button onclick="removeAllModals(); setPage('page', 'parser')">Найти новую компанию</button>
  </div>

  <button id="page-contacts" name="contacts-btn" onclick="setPage('page', 'contacts')">Контакты</button>
  <div name="contacts-menu-btns" class="sub-menu-btns hidden">
      <button  onclick="openModal('create_contact_modal_frame', 'createContact')">Добавить контакт</button>
  </div>

  <button id="page-materials" name="materials-btn" onclick="setPage('page', 'materials')">Материалы</button>
  <div name="materials-menu-btns" class="sub-menu-btns hidden">
    <button onclick="openModal('create_material_modal_frame', 'createMaterial')">Добавить материал</button>
  </div>

  <button id="page-meetings" name="meetings-btn" onclick="setPage('page', 'meetings')">Встречи</button>
  <div name="meetings-menu-btns" class="sub-menu-btns hidden">
    <button id="add-meetings" onclick="setPage('add', 'meetings')">Добавить встречу</button>
  </div>

  <button id="page-employees" name="employees-btn" onclick="setPage('page', 'employees')">Сотрудники</button>
  <div name="employees-menu-btns" class="sub-menu-btns hidden">
      <button onclick="openModal('create_employee_modal_frame', 'createEmployee')">Добавить сотрудника</button>
  </div>

</div>
<div id="cmd-btn">
  {% if user.is_superuser %}
    <button id="page-cmd" name="cmd-btn" onclick="setPage('page', 'cmd')">cmd</button>
  {% endif %}
</div>