
<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Выйти</button>
</form>
<div id="menu-btns" class="tabs-btns">
  <a href="/companies/">
    <button>Компании</button>
  </a>
  <a href="/contacts/">
    <button>Контакты</button>
  </a>
  <a href="/materials/">
    <button>Материалы</button>
  </a>
  <a href="/meetings/">
    <button>Встречи</button>
  </a>
  <a href="/employees/">
    <button>Сотрудники</button>
  </a>
  {% if user.is_superuser %}
    <a href="/commands/">
      <button>cmd</button>
    </a>
  {% endif %}
  {% comment %}  {% endcomment %}
</div>
