<div id="create_material_modal_frame" class="modal create" style="z-index:2;">
  <div class="modal-content">
    <div class="header">
      {% include 'components/modal_close_btn.html' with frame_id='create_material_modal_frame' %}
      <h3>Создать материал</h3>
    </div>

    <div class="main-frame">
      <hr>
      <div id="material-creation">
        {% csrf_token %}
        <div id="creation_material_tree" class="tree">
          {% include 'lists/materials_list.html' with style='material_creation' %}
        </div>

        <input type="hidden" name="parent_id">

        <div class="inputs">
          <div class="form-item">
            <label for="material_name" name="material_name_label">Наименование</label>
            <input type="text" name="material_name">
          </div>

          <div class="form-item">
            <label for="keywords">Ключевые слова</label>
            <textarea type="text" name="keywords" placeholder="гкл,гвл,гклв"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <button onclick="post_material_create({{company.id}}); selectedMaterials = []">Сохранить материал</button>
    </div>
  </div>
</div>