{% extends 'base.html' %} {% block content %}
{% include 'components/modal_create_contact.html' %}
  <div class="outer">
    <div class="page-menu">
      <select name="sortList" id="sort-select" onchange="sortList(event)">
        <option value="">--Сортировать--</option>
        <option value="-date">Старое-новое</option>
        <option value="date">Новое-старое</option>
        <option value="A-z">А-я</option>
        <option value="Z-a">Я-а</option>
        <option value="">По умолчанию</option>
      </select>
      <input id="contacts-list-search" type="text" name="search" value="{{search}}" placeholder="Поиск.." />
      <button  onclick="openModal('create_contact_modal_frame')">Добавить контакт</button>
    </div>
    <div id="contacts-list" class="cards-list cards">
      {% include 'lists/contacts_list.html' with style='cards' %}
    </div>
  </div>
{% endblock %}
