{% comment %} {% extends 'base.html' %} {% block content %} {% endcomment %}
{% include 'components/modal_edit_contact.html'%}

<div class="main-details">
  <div class="menu-btns">
    <button onclick="openModal('edit_contact_modal_frame')" class="spec-btn">edit</button>
    <button onclick="post_delItem('contacts', {{contact.id}})" class="spec-btn">del</button>
  </div>
  <div class="group-header">
    <h1>{{contact.last_name}} {{contact.first_name}} {{contact.patronymic}}</h1>
  </div>
  <hr>
  <div class="info">
    <span>моб.: {% if contact.phone %}{{contact.phone}}{% else %}—{% endif %}</span>
    <span>Личная почта: {% if contact.mail %}{{contact.mail}}{% else %}—{% endif %}</span>
    <span>Примечание: {% if contact.comment %}{{contact.comment}}{% else %}—{% endif %}</span>
  </div>
  <hr>
  <div class="group-header">
    <h2>Компании</h2>
  </div>
  <hr>
  <div class="cards-list">
    {% for info in comp_info %}
      <div class="card">
        <span class="title" title="{{info.company_name}}">
          <a href="/companies/{{info.company_id}}/">{{info.company_name}}</a>
        </span>
        <span>{% if info.position %}{{info.position}}{% else %}—{% endif %}</span>
        <span>раб.тел.: {% if info.phone %}{{info.phone}}{% else %}—{% endif %}</span>
        <span>Почта: {% if info.mail %}{{info.mail}}{% else %}—{% endif %}</span>
      </div>
    {% endfor %}
  <div>
</div>


{% comment %} {% endblock %} {% endcomment %}