<div id="contacts-details-modal-frame" class="modal">
  <div class="modal-content details">
    <div class="modal-head">
      <div class="menu-btns">
        <button onclick="openModal('edit_contact_modal_frame', 'editContact', {{contact.id}})" class="spec-btn">edit</button>
        <button onclick="post_delItem('contacts', {{contact.id}})" class="spec-btn">del</button>
        {% include 'components/modal_remove_btn.html' with frame_id='contacts-details-modal-frame' %}
      </div>
      <div class="modal-header">
        <h1>{{contact.last_name}} {{contact.first_name}} {{contact.patronymic}}</h1>
      </div>
    </div>
    <div class="modal-main">
      <div class="details-info">
        <span>моб.:</span><span>{{contact.phone | default:'—'}}</span>
        <span>Личная почта:</span><span>{{contact.mail | default:'—'}}</span>
        <span>Примечание:</span><span>{{contact.comment | default:'—'}}</span>
      </div>

      <div class="addition-info">
        <div class="menu-btns">
          
        </div>
        <div class="modal-header">
          <h3>Компании</h3>
        </div>
        <div class="cards-list">
          {% for info in comp_info %}
            <div class="card">
              <div class="card-header">
                <span class="title" title="{{info.company_name}}">
                  <a onclick="removeModal('companies-details-modal-frame'); openModal('companies-details-modal-frame', 'detailsCompany', {{info.company_id}})">{{info.company_name}}</a>
                </span>
              </div>
              <span>{{info.position | default:'—'}}</span>
              <span>раб.тел.: {{info.phone | default:'—'}}</span>
              <span>Почта: {{info.mail | default:'—'}}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>