{% extends 'base.html' %} {% block content %}

<div class="content-header">
  <input id="contacts-list" type="text" name="search" value="{{search}}" placeholder="Поиск.." />
</div>

<hr />

<div class="cards">
  {% for contact in contacts %}
  <div class="card">
    <p class="title">
      <a href="/contacts/{{contact.id}}/">
        {{contact.first_name}} {{contact.last_name}}
      </a>
    </p>
    <ul>
      <li>{{contact.position}}</li>
      <li>{{contact.phone}}</li>
    </ul>
  </div>
  {% endfor %} {% endblock %}
</div>
